:root {
  --primery-text-color: #757575;
  --titel-text-color: #212121;
  --accent-color: #2196f3;
  --accent-color-btn: #ffffff;
  --nav-color: #212121;
  --logo-head-color: #000000;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --primery-bg-color: #e5e5e5;
  --white-color: #ffffff;
  --footer-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
  --primery-social-color: #afb1b8;
  --accent-social-color: #ffffff;
  --transform-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transform-time: 250ms;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  background-color: var(--white-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--titel-text-color);
}

.section--no-pading-top {
  padding-top: 0;
}

.section--bg-gray {
  background-color: var(--section-bg-color);
}

.btn {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;
  padding: 10px 32px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--accent-color-btn);
  transition: background var(--transform-time) var(--transform-function);
}

.btn:hover, .btn:focus {
  background: #188ce8;
  cursor: pointer;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__item + .social-list__item {
  margin-left: 10px;
}

.footer-social-list .social-list__icon {
  fill: var(--accent-social-color);
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--primery-social-color);
  transition: fill var(--transform-time) var(--transform-function);
}

.social-list__link:focus .social-list__icon,
.social-list__link:hover .social-list__icon {
  fill: var(--accent-social-color);
}

.footer-social-list .social-list__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transform-time) var(--transform-function);
}

.social-list__link:focus, .social-list__link:hover {
  background-color: var(--accent-color);
}

.footer-social__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--white-color);
  border-radius: 4px;
  position: relative;
  transform: scale(1);
  transition: transform 250ms linear;
}

.backdrop.is-hidden .modal {
  transform: scale(2);
}

.modal__close-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal__close-icon {
  width: 18px;
  height: 18px;
  fill: #000000;
  transition: fill var(--transform-time) var(--transform-function);
}

.modal__close-btn:hover .modal__close-icon,
.modal__close-btn:focus .modal__close-icon {
  fill: var(--accent-color);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
  color: var(--titel-text-color);
}

.modal-form__filed {
  margin-bottom: 10px;
}

.modal-form__lable {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--primery-text-color);
  cursor: pointer;
}

.modal-form__input-wrapper {
  display: block;
  position: relative;
}

.modal-form__input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 16px;
  cursor: pointer;
  outline: none;
  transition: border-color var(--transform-time) var(--transform-function);
}

.modal-form__input:focus {
  border-color: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill var(--transform-time) var(--transform-function);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__textarea {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  cursor: pointer;
  outline: none;
  transition: border-color var(--transform-time) var(--transform-function);
}

.modal-form__textarea:focus {
  border-color: var(--accent-color);
}

.coment-form {
  margin-bottom: 0;
}

textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.checkbox__modal {
  position: absolute;
  cursor: pointer;
}

.checkbox__label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primery-text-color);
  cursor: pointer;
}

.checkbox__active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--nav-color);
  border-radius: 3px;
  margin-right: 8px;
  transition: border-color var(--transform-time) var(--transform-function), background-color var(--transform-time) var(--transform-function);
}

.checkbox:hover .checkbox__active {
  border-color: var(--accent-color);
}

.checkbox__modal:checked + .checkbox__label .checkbox__active {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.checkbox__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  fill: var(--white-color);
}

.checkbox__link {
  font-size: 14px;
  line-height: 1.71;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.header {
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-head-color);
}

.web {
  color: var(--accent-color);
}

.navigation-menu {
  display: flex;
}

.navigation-menu__item:not(:last-child) {
  margin-right: 50px;
}

.navigation-menu__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transform-time) var(--transform-function);
  color: var(--nav-color);
}

.navigation-menu__link:hover, .navigation-menu__link:focus {
  color: var(--accent-color);
}

.navigation-menu__link--active {
  color: var(--accent-color);
}

.navigation-menu__link--active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts-list__item {
  align-items: center;
}

.contacts-list__item:not(:last-child) {
  margin-right: 30px;
}

.contacts-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  transition: color var(--transform-time) var(--transform-function);
}

.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--accent-color);
}

.envelope-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--primery-text-color);
}

.contacts-list__link:hover .envelope-icon,
.contacts-list__link:focus .envelope-icon {
  fill: var(--accent-color);
}

.smartphone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--primery-text-color);
}

.contacts-list__link:hover .smartphone-icon,
.contacts-list__link:focus .smartphone-icon {
  fill: var(--accent-color);
}

.hero {
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--footer-bg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeg/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.advantages {
  display: flex;
  min-width: 270px;
  margin-right: -30px;
}

.advantages__item:not(:last-child) {
  margin-right: 30px;
}

.advantages__tumb {
  display: flex;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: var(--section-bg-color);
}

.advantages__icon {
  width: 70px;
  height: 70px;
}

.advantages__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--titel-text-color);
  text-transform: uppercase;
}

.advantages__text {
  font-size: 14px;
  line-height: 1.71;
}

.work {
  display: flex;
}

.work__item {
  position: relative;
  flex-basis: calc(100 / 3 - 30px);
}

.work__item:not(:last-child) {
  margin-right: 30px;
  min-width: 370px;
}

.work__imeg-tumb {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}

.work__imeg-tilte {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}

.team {
  display: flex;
}

.team__item {
  flex-basis: calc(100 / 4 - 30px);
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team-content {
  padding: 30px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: var(--white-color);
}

.team-content__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--titel-text-color);
}

.team-content__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.clients {
  display: flex;
  justify-content: center;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--primery-social-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border var(--transform-time) var(--transform-function);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: var(--primery-social-color);
  transition: fill var(--transform-time) var(--transform-function);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  padding: 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
  border-width: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--nav-color);
  transition-property: background, color, box-shadow;
  transition-timing-function: var(--transform-function);
  transition-duration: var(--transform-time);
}

.filter__btn:hover, .filter__btn:focus {
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
  color: var(--accent-color-btn);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.portfolio-list__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-list__link {
  transition: box-shadow var(--transform-time) var(--transform-function);
}

.portfolio-list__link:hover, .portfolio-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-list__overlay-text {
  position: absolute;
  top: 0;
  transform: translateY(100%);
  transition: transform var(--transform-time) var(--transform-function);
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-list__link:hover .portfolio-list__overlay-text,
.portfolio-list__link:focus .portfolio-list__overlay-text {
  transform: translateY(0);
}

.portfolio-list__content {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-list__card-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--titel-text-color);
}

.portfolio-list__card-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primery-text-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__contact {
  margin-right: 70px;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-color);
}

.footer__address {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: var(--white-color);
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list__link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-contact-color);
  transition: color var(--transform-time) var(--transform-function);
}

.address-list__link:hover, .address-list__link:focus {
  color: var(--accent-color);
}

.footer-form {
  margin-left: 93px;
}

.footer-form__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-form__mail-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: var(--white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  transition: border var(--transform-time) var(--transform-function);
}

.footer-form__input:hover, .footer-form__input:focus {
  border: 1px solid var(--accent-color);
}

.footer-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__btn {
  margin-left: 12px;
}

.footer-form__icon {
  display: flex;
  align-items: center;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: var(--white-color);
}
/*# sourceMappingURL=main.css.map */