.team {
margin: -15px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.team__item {
    width: 100%;
    margin: 15px;

  @media screen and (min-width: 768px){
    flex-basis: calc(100% / 2 - 30px);
  }

  @media screen and (min-width: 1200px){
    flex-basis: calc(100% / 4 - 30px);
  }
}
  
.team-content { 
  padding-top: 30px;
  padding-bottom: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  background: var(--white-color); 
  @media screen and (min-width: 1200px){
    padding-bottom: 30px;
  }
}
.team-content__subtitle {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--titel-text-color);
    
  }
  .team-content__text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
  }