.section {
  // padding-top: 94px;
  // padding-bottom: 94px;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px){
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section__title {
    // margin-bottom: 50px;

    // font-weight: 700;
    // font-size: 36px;
    // line-height: 1.17;
    // text-align: center;
    // color: var(--titel-text-color);
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    color: var(--titel-text-color);

    @media screen and (min-width: 1200px){
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 1.17;
    }
  }
.section--no-pading-top{
    padding-top: 0;
    @media screen and (max-width: 1199px){
      display: none;
    }
  }
.section--bg-gray{
    background-color: var(--section-bg-color);
  }

