:root {
  --primery-text-color: #757575;
  --titel-text-color: #212121;
  --accent-color: #2196f3;
  --accent-color-btn: #ffffff;
  --nav-color: #212121;
  --logo-head-color: #000000;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --primery-bg-color: #e5e5e5;
  --white-color: #ffffff;
  --footer-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
  --primery-social-color: #afb1b8;
  --accent-social-color: #ffffff;
  --transform-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transform-time: 250ms;
}
